@use 'colors' as *;
@use 'typography' as *;
@use 'sizes' as *;

// Layout
$grid-gap: 1.5rem;
$flex-group-gap: 1rem;

$hero-padding: clamp(15rem, 15vh, 20rem);
$section-padding: clamp(3rem, 10vh, 7rem);

$container-inline-padding: 1rem;
$container-max-width: 60rem;
$container-max-width-wide: 75rem;

$card-body-padding: clamp(2rem, 3.5vw, 5rem);
