@use "../abstracts/" as *;

.site-footer {
   background-color: $footer-background-color;
   color: $footer-text-color;

   a {
      color: $footer-link-color;
      font-family: $footer-link-font-family;
      text-decoration: none;
      
      &:hover {
         color: $footer-link-color-hover;
      }
   }
}